@import url(https://tpicloud.github.io/CSS/Fonts/Minified/Feronia/400.css);
@import url(https://tpicloud.github.io/CSS/Fonts/Minified/%E4%BB%BF%E5%AE%8B/400.css);

form {
    font-family: 'Feronia';
    font-size: 18px;
}

legend {
    border: 1px solid;
    padding: 7px 12px;
    font-family: 'Feronia';
    font-size: 18px;
    border-radius: 10px;
}

fieldset {
    width: 560px;
    padding: 10px 20px;
    border-radius: 10px;
}

input[type=text], input[type=email], textarea {
    width: 516px;
    padding: 12px 18px 12px 36px;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    resize: vertical;
    font-family: "Times New Roman", 仿宋, Times, serif;
    font-size: 15px;
    background-color: #FFFFFF;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    background-size: 22px 22px;
}

input[type=submit] {
    background-color: #4CAF45;
    color: #FFFFFF;
    padding: 12px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Feronia';
}

input[type=submit]:hover {
    background-color: #1D7A45;
}

/* Copyright 2018 Resources (t69.us). All rights reserved. */
