a {
    text-decoration: underline;
    color: #f9f9f9;
}

a:hover { 
    color: #00fffa;
}

body {
    height: 100%;
    font-family: "Times New Roman", 宋体, Times, Georgia;
    margin: 0;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    font-weight: 100;
}

button {
    text-align: center;
    cursor: pointer;
}

.button2 {
    color: rgba(15, 185, 208, 0.7);
    background: rgb(255, 210, 15);
    padding: 7px 11px;
    border-radius: 12px;
    font-weight: normal;
    transition: all 0.4s ease-in-out;
    border-style: none;
}

.glow-button:hover {
    color: rgba(19, 148, 167, 1);
    background: rgb(239, 255, 0);
    box-shadow: 0 6px 22px rgba(101, 255, 34, .7);
}

.button1 {
    display: inline-block;
    border-radius: 50%;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    font-family: Verdana, Arial;
    font-size: 12px;
    padding: 14px;
    width: 121px;
    transition: all 0.5s;
    position:absolute;
    top: 8px;
    right: 14px;
}

.button1 span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button1 span:after {
    content: '\279F';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -28px;
    transition: 0.5s;
}

.button1:hover span {
    padding-right: 22px;
}

.button1:hover span:after {
    opacity: 1;
    right: 0;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

table {
    width: 888px;
    border-collapse: collapse;
    overflow: hidden;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 14px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

th {
    text-align: center;
}

thead th {
    background-color: #55608f;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
    position: relative;
    text-align: center;
  
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 7px;
    text-align: center;
}

// Copyright 2018 Resources (resources.ga). All rights reserved.
